# WMS Database (Rohteillager)
WMS_DB_SERVER=DEBLNSVCS01
WMS_DB_NAME=Rohteillager
WMS_DB_USER=
WMS_DB_PASS=

# ERP Database (XALinl)
ERP_DB_SERVER=DEBLNSVERP01
ERP_DB_NAME=XALinl
ERP_DB_USER=
ERP_DB_PASS=

# Set to 1 to force local SQLite fallback for ERP
# PLANNER_FORCE_SQLITE=0
